.row>div, .row>div>div {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
}

.row>div {
    border: 1px solid white;
    background-color: royalblue;
}

.row>div>div {
    border: 1px solid royalblue;
    background-color: #00E165;
}

.spazio{
    height: 20px;
}

/* #spazio-bianco{
    background-color: white;
} */

.col-empty{
    height: 40px;
}

/* .col-emptyx2{
    height: 80px;
} */

.col-xs-12.space-between{
    justify-content: space-between;
}

.col-xs-12.space-around{
    justify-content: space-around;
}